
<div class="sub-banner">
	</div>
<div class="about">
	<div class="container"> 
		<h3>Về chúng tôi</h3>
		<div class="about-info">
			<div class="col-md-8 about-grids">
				<h4>Sản phẩm nhập về chính hãng</h4>
				<p>
					Trước hết Công Ty FANoFAN xin gửi tới Quý khách hàng lời chúc sức khỏe và lời chào trân trọng nhất.
				</p>
				<p>
					Kính thưa Quý khách hàng, hiện nay trước nhu cầu sử dụng các sản phẩm tiện ích cho gia đình ngày càng tăng, nhu cầu mua hàng trực tuyến cũng như mua tại siêu thị là nhu cầu cấp thiết cho những khách hàng bận rộn khi dành thời gian đi mua sắm không đáp ứng được và khách hàng muốn có sản phẩm đạt tiêu chuẩn với độ tin cậy cao, vì thế Công Ty FANoFAN ra đời nhằm đáp ứng nhu cầu và làm thỏa mãn cho khách hàng một sự lựa chọn dễ dàng và hoàn hảo khi đi mua sắm.
				</p>
				<p>
					Công Ty FANoFAN là đơn vị chuyên bán buôn bán lẻ các mặt hàng: Bình thủy tinh, ấm sứ, cung cấp hàng thủy tinh, ấm sứ các loại, giường xếp, ghế xếp, võng xếp, quạt điện, xốp, nỉ trải sàn nhà. Chúng tôi hiện tại đang là đại lý tiêu thụ  sản phẩm cho các thương hiệu lớn như Pha Lê Việt Tiệp, Luminarc, Ocean, Union, Điện cơ thống nhất, Quạt điện Panasonic, võng xếp Minh Phú, võng xếp Duy Lợi, võng xếp Duy Phương, võng xếp Phú Cường, võng xếp Ban Mai, võng xếp Trường Thọ...
				</p>					
				<div class="about-w3ls-row">
					<div ng-controller="CarouselDemoCtrl">
					  	<div style="height: 305px">
					    	<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
					      		<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
					        		<img ng-src="{{slide.image}}" style="margin:auto;">
						        	<div class="carousel-caption">
						          		<p>{{slide.text}}</p>
						        	</div>
					      		</div>
					    	</div>
					  	</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p>
					Ngoài những mặt hàng cung cấp trên chúng tôi còn sản xuất trực tiếp các mặt hàng như: In trên chất liệu thủy tinh, gốm sứ, trên nhựa, gỗ, vải và các chất liệu khác
				</p>
				<p>
					Công Ty FANoFAN đang triển khai mở rộng hệ thống kênh phân phối cung cấp sản phẩm tới tay người tiêu dùng trong cả nước và tìm các đối tác hợp tác kinh doanh để thực hiện công việc nhiều hứa hẹn này.
				</p>
				<p>
					Chúng tôi hy vọng sẽ mang lại sự tin tưởng và tiện lợi cho Quý khách khi mua sản phẩm tại Công Ty FANoFAN!
				</p>	
			</div>
			</div>
			<div class="col-md-4 about-grids">
				<h4>Luôn cam kết với khách hàng</h4>
				<div class="pince">
					<div class="pince-left">
						<h5>01</h5>
					</div>
					<div class="pince-right">
						<p>Cung cấp sản phẩm chính hãng bảo hành trên toàn quốc.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="pince">
					<div class="pince-left">
						<h5>02</h5>
					</div>
					<div class="pince-right">
						<p>Hệ thống phân phối rộng khắp trên 63 tỉnh thành cả nước.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="pince">
					<div class="pince-left">
						<h5>03</h5>
					</div>
					<div class="pince-right">
						<p>Dịch vụ chăm sóc 24/7 lắp đặt tại nhà miễn phí đổi trả.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="pince">
					<div class="pince-left">
						<h5>04</h5>
					</div>
					<div class="pince-right">
						<p>Phản hồi từ các bạn làm công ty chúng tôi trở nên tốt hơn.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- about-bottom -->
	<div class="about-bottom">
		<div class="container">
			<h3> Giảm giá <span>10%</span> Off</h3>
			<h4></h4>
			<a href="#/">Mua ngay</a>
		</div>
	</div>
<!-- //about-bottom -->
<!--team-->
<div class="team" id="team">
	<div class="container">
		<h3>Thành Viên Thiết Kế</h3>
		<div class="team-grids">
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t1.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="https://www.facebook.com/luong.hoang.712"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Lương Hoàng</h4>
				<h5>Nhóm Trưởng</h5>
			</div>
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t3.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="https://www.facebook.com/nguyen.danh.vuong.210"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Nguyễn Danh Vượng</h4>
				<h5>Thành Viên</h5>
			</div>
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t2.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="https://www.facebook.com/profile.php?id=100008230983400"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Phạm Thị Thanh Tươi</h4>
				<h5>Thành Viên</h5>
			</div>
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t4.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="https://www.facebook.com/tuan0121"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Nguyễn Xuân Tuấn</h4>
				<h5>Thành Viên</h5>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
